/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #454d55;
    border-right: 5px solid var(--dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--gray);
}

#chartContent{
    max-height: 70vh; 
    height: 50vw; 
    width: 100%;
}

.icon {
    height: 20px;
    width: 40px;
    padding: 2px;
    stroke: #ced4da;
    stroke-width: 1px;
    fill: #ced4da;
}

.icon:hover, .icon:active {
    fill: white;
    stroke: white;
    padding: 2px;
}

body {
    overflow-y: hidden;
}

.navbar {
    height: 20px;
    background-color: #272b30;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.controles {
    width: 40px;
    height: 100%;
    text-align: center;
    line-height: 0px;
}

.controles:hover, .controles:active {
    background-color: #00000050;
    text-decoration: none;
}

.container-fluid {
    position: absolute;
    top: 20px;
    bottom: 0px;
    overflow-y: scroll;
}

a {
    color: #d7385e;
    -webkit-app-region: no-drag;
    -webkit-user-select: auto;
}

a:hover, a:active {
    color: #f2ed6f;
    text-decoration: none;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

select {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
}

select:focus {
    border-color: none !important;
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid white !important;
}