node_modules
dist
js/jsFunctions1.js
covid.json
COVID-19 Coronavirus data - Datasets.url
COVID-19.url
Creating and deploying an auto-updating Electron app for Mac and Windows using electron-builder.url